@media (min-width: 320px) and (max-width: 575px) {
  /* TAGS */
  h1 {
    font-size: 2em !important;
  }

  p {
    font-size: 1em !important;
  }

  /* CLASSES */
  .btn {
    font-size: 0.9em;
    line-height: 0.9em;
  }

  .card-text {
    font-size: 0.9em !important;
  }

  .card-title {
    font-size: 1em !important;
  }

  .carousel-caption {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);

    a {
      padding: 5px;
    }

    h1 {
      font-size: 3em;
      text-shadow: 1px 1px 10px black;
      font-weight: 500;
      text-transform: uppercase;
    }

    h3 {
      font-size: 1em;
      font-weight: 500;
      padding-bottom: 1rem;
      text-shadow: 1px 1px 10px black;
    }
  }

  .connections {
    a {
      font-size: 2em;
      padding: 0.5em;
    }
  }

  .embedded-logo {
    float: none;
    max-height: 140px;
    max-width: 384px;
  }

  .navbar {
    li {
      font-size: 0.9em !important;
    }

    .navbar-button {
      font-size: medium;
      padding-top: 12px;
    }

    .nav-link {
      margin-left: 10px !important;
    }

    .outsider {
      margin-left: 25px;
    }
  }
}
