<h2><span class="fas fa-paint-brush"></span> Graphics</h2>
<hr class="underline">

<GraphicListing
  @image = "../downloads/assets/images/bioinformatics_algorithms_logo.png"
  @title = "Bioinformatics Algorithms"
  @text = "Visually more elaborate versions of algorithms known from Bioinformatics
            implemented with JavaScript and the
            <a href='https://knockoutjs.com/' target='_blank' rel='noopener'>Knockout</a> framework.
            The resulting project has been integrated in the RNA-Playground of
            <a href='http://rna.informatik.uni-freiburg.de/Teaching/' target='_blank' rel='noopener'>this</a> website."/>