{{#bs-modal size="lg" onHidden=deactivateSettings as |modal|}}
  {{#modal.header}}
    <h3><span class="fas fa-cog"></span> Settings</h3>
  {{/modal.header}}

  {{#modal.body}}
    <p class="content">
      Here you can change the page settings. Therefore, cookies are used.
      By changing an option <b>you agree with the usage of cookies</b> on this page.
      You can change your opinion at any time by clicking on the Reset-button below.
      By doing so, all set cookies from this page are deleted.
    </p>

    <label class="settings-input" for="particles">
      <span>Particles</span>
    </label>

    {{input class="input-text" type="checkbox" id="particles" checked=isSnowing change=(action "changeSnowState")
            tabindex=-1}}
  {{/modal.body}}

  {{#modal.footer}}
    {{bs-button id="reset" class="darker" defaultText="Reset" type="secondary" buttonType="button" onClick=(action "reset")}}
    {{bs-button id="apply" defaultText="Apply" type="primary" buttonType="button" onClick=(action "reload")}}
  {{/modal.footer}}
{{/bs-modal}}