@media (min-width: 320px) and (max-width: 575px) {
  /* TAGS */
  h1 {
    font-size: 2em !important;
  }

  p {
    font-size: 1em !important;
  }

  /* CLASSES */
  .btn {
    font-size: 0.9em;
    line-height: 0.9em;
  }

  .card-text {
    font-size: 0.9em !important;
  }

  .card-title {
    font-size: 1em !important;
  }

  .carousel-caption {
    position: absolute;
    top: 40% !important;

    a {
      padding: 5px;
    }

    h1 {
      font-size: 3em !important;
      text-shadow: 1px 1px 10px black;
      font-weight: 500;
      text-transform: uppercase;
    }

    h3 {
      font-size: 1em !important;
      font-weight: 500;
      padding-bottom: 0.1rem !important;
      text-shadow: 1px 1px 10px black;
    }
  }

  .connections {
    a {
      font-size: 2em !important;
      padding: 0.1em !important;
    }
  }

  .embedded-logo {
    float: none;
    max-height: 140px;
    max-width: 384px;
  }

  .navbar {
    .dropdown {
      margin-left: -2px;
    }

    .menu-button {
      font-size: 1em !important;
      max-width: 140px !important;
      text-align: left;
    }

    .nav-link {
      margin-left: 10px !important;
    }
  }
}
