<div class="background" id="top">
  <BsNavbar as |navbar|>
    <a href="/" class="navbar-brand"><div class="logo"></div></a>

    <navbar.toggle/> {{!-- sandwich --}}
    <navbar.content>
      <navbar.nav id="headbar" class="ml-auto" as |nav| >
        {{!-- home --}}
        <nav.item class="button">{{#nav.link-to "home"}}Home{{/nav.link-to}}</nav.item>

        {{!-- downloads --}}
        <BsDropdown class="dropdown" as |dropdown|>
          <dropdown.button class="menu-button">Downloads</dropdown.button>

          <dropdown.menu @class="menu" as |menu|>
            <menu.item>
              {{#menu.link-to "downloads.graphics" class="download-link"}}Graphics{{/menu.link-to}}
            </menu.item>

            <menu.item>
              {{#menu.link-to "downloads.programs" class="download-link"}}Programs{{/menu.link-to}}
            </menu.item>
          </dropdown.menu>
        </BsDropdown>

        {{!-- tutorials --}}
        <BsDropdown class="dropdown" as |dropdown|>
          <dropdown.button class="menu-button">Tutorials</dropdown.button>
        </BsDropdown>

        {{!-- about --}}
        <BsDropdown class="dropdown" as |dropdown|>
          <dropdown.button class="menu-button">About</dropdown.button>

          <dropdown.menu @class="menu" as |menu|>
            <menu.item>
              {{#menu.link-to "about.authors" class="about-link"}}Authors{{/menu.link-to}}
            </menu.item>

            <menu.item>
              {{#menu.link-to "about.page" class="about-link"}}Page{{/menu.link-to}}
            </menu.item>
          </dropdown.menu>
        </BsDropdown>

        <nav.item><div class="menu-button outsider" onclick={{action "activateSettings"}}><span class="fas fa-cog"></span></div></nav.item>
      </navbar.nav>
    </navbar.content>
  </BsNavbar>

  {{outlet}}
</div>

<div id="footer">
  <span id="liabilities">
    {{#link-to "contact" class="contact"}}Contact{{/link-to}}
    {{#link-to "imprint" class="imprint"}}Imprint{{/link-to}}
    {{#link-to "privacy" class="privacy"}}Privacy{{/link-to}}
  </span>

  <span id="author">
    Copyright &copy; 2019 Alexander Mattheis
  </span>
</div>

{{#if settingsActive}}
  <SettingsModal @deactivateSettings={{action "deactivateSettings"}}/>
{{/if}}