<div class="col-12 col-xl-6 mr-auto ml-auto mt-5">
  <h2><span class="far fa-envelope"></span> Contact</h2>
  <hr class="underline">
  <p class="content">
    Have you some feedback or you found a bug, mistake, whatever on my page and you want to report this?
    Then write me please a short message using the contact form below. No matter what, write me.
    I'll answer you soon and say "Thank you!" to you.
  </p>

  {{#let (changeset model Validation) as |deepCopy|}}
    <BsForm @model={{deepCopy}} @formLayout="horizontal" onSubmit={{action "submit" deepCopy}} as |form|>
      <form.element @label="Email" @controlType="text" @maxlength="254" @placeholder="Your e-mail address" @property="email"/>
      <form.element class="message" @label="Message" @maxlength="1000" @controlType="textarea" @property="message"/>
      <BsButton @defaultText="Submit" @type="primary" @buttonType="submit"/>
    </BsForm>
  {{/let}}
</div>