<div class="col-12 col-xl-6 mr-auto ml-auto mt-5">
  <h2><span class="far fa-envelope"></span> Contact</h2>
  <hr class="underline">
  <p class="content">
    Have you some feedback or you found a bug, mistake, whatever on my page and you want to report this?
    Then write me please a short message using the contact form below. No matter what, write me.
    I'll answer you soon and say "Thank you!" to you.
  </p>

  {{#bs-form class="needs-validation" model=model formLayout="horizontal" onSubmit=(action "submit") as |form|}}
    <form.element @id="email" @controlType="email"
                  @customError="Each mail should consist at least out of ten symbols!"
                  @label="E-Mail" @placeholder="Your e-mail address" @property="email"/>

    <form.element @id="message" class="message" @controlType="textarea"
                  @customError="Each message should be at least 15 characters long,
                   not containing any special symbols like '+', '*', '$', .. !"
                  @label="Message" @property="message"/>

    <BsButton @defaultText="Submit" @type="primary" @buttonType="submit"/>
  {{/bs-form}}
</div>