/* COLORS */
$color-dropdown-active: #ff969a;
$color-font: #202020;
$color-font-active: #4a4a4b;
$color-font-bg: #d6d6d6;
$color-font-inactive: #7c7c7d;
$color-github-cat: #24292E;
$color-primary: #e55457;
$color-secondary: #f8f9fa;
$color-ruler: #d6d6d6;
$color-youtube-play: #FF0000;

$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary
);
