<h2><span class="fas fa-paint-brush"></span> Graphics</h2>
<hr class="underline">

<p class="content">
  The following graphics are royality free. Therefore they have been released
  under the <a href="https://creativecommons.org/publicdomain/zero/1.0" target="_blank" rel="noopener">CC0-licence</a>
  such that you can use them even for commercial purposes without considering any conditions.
  So, have fun using my graphics for free!
</p>

<FilesLister>
  <div class="container">
    {{listings/graphic-listing
      author = "Alexander Mattheis"
      date = "2018-11-10"
      description = "Age of ...? Ah, the Age of Communities!"
      image = "/assets/images/vector_graphics/community.png"
      licence = "<a href='https://creativecommons.org/publicdomain/zero/1.0/deed' target='_blank' rel='noopener'>CC0 1.0 Universal</a>"
      path = "/assets/downloads/vector_graphics/community.svg"
      tags = "community, group"
      title = "Community"}}
  </div>
</FilesLister>
