.button {
  font-size: 17.6px;
  padding-top: 2px;
}

.connections {
  a {
    font-size: 4em;
    margin: 1em;
  }
}

.content {
  text-align: justify;
}

.dark-font {
  color: $color-font-active !important;
}

.embedded-logo {
  float: right;
  max-height: 186px;
  max-width: 512px;
  padding: 15px;
}

.menu {
  min-width: 90px !important;

  /* CLASSES */
  .download-link {
    width: 110px;
  }

  /* LIBRARY */
  .dropdown-item {
    padding: 10px 12px 10px 12px;
  }

  .dropdown-item:active {
    background-color: $color-dropdown-active;
  }
}

.menu-button {
  border: none;
  color: $color-font-inactive;
  font-size: 17.6px;
  margin: 0 5px 0 5px;

  &:hover {
    background-color: $color-secondary;
    color: $color-font-active;
  }
}

.message {
  textarea {
    max-height: 300px;
    min-height: 100px;
  }
}

.outsider {
  margin-left: 10px;
  padding-top: 3px;
}

.overline {
  margin-bottom: 10px;
  margin-top: 15px;
  width: 93%;
}

.underline {
  margin: 0 0 15px 0;
  width: 100%;
}
