.listing-anchor {
  text-decoration: none !important;
}

.listing-date {
  color: gray;
  display:inline-block;
  margin-left: 6px;
}

.listing-left-column {
  display: inline-block;
  height: 112px;
  margin-right: 20px;
  vertical-align: top;
  width: 220px;
}

.listing-right-column {
  display: inline-block;
  height: 112px;
  vertical-align: top;
  width: 180px;
}
