<h2><span class="fas fa-laptop-code"></span> Programs</h2>
<hr class="underline">

<p class="content">
  The following programs are open source, the code has been therefore released inter alia
  under the <a href="http://unlicense.org/" target="_blank" rel="noopener">Unlicense-licence</a> such
  that you can use and adapt the programs even for commercial purposes without considering any conditions.
  Many programs can be executed under Linux, Mac, as well as Windows.
  So, please give them a try on your favourite operating system!
</p>

<br>

<div class="container">
  {{listings/program-listing
    description = "Visually more elaborate versions of algorithms known from Bioinformatics
                  implemented with JavaScript and the
                  <a href='https://knockoutjs.com/' target='_blank' rel='noopener'>Knockout</a> framework.
                  The resulting project has been integrated in the RNA-Playground of
                  <a href='http://rna.informatik.uni-freiburg.de/Teaching/' target='_blank' rel='noopener'>this</a> website."
    imageName = "Bioinformatics Algorithms Logo"
    imagePath = "../assets/images/preview/cards/bioinformatics_algorithms_logo.png"
    link = "downloads.programs.bioinformatics"
    title = "Bioinformatics Algorithms"}}

  {{listings/program-listing
    description = "Newly developed cross-dating algorithm for density series from wood samples.
                  This approach determines the date for even shorter wood pieces correctly than with given methods before
                  in dendrochronology before."
    imageName = "Cross-Dating Logo"
    imagePath = "../assets/images/preview/cards/cross_dating_logo.png"
    link = "downloads.programs.cross-dating"
    title = "Cross-Dating"}}

  {{listings/program-listing
    description = "Are you constantly stressed by your operating system? You are constantly in dispute?
                  Then I have something for you,
                  <a href='https://github.com/AlexanderMattheis/Relationship-Enhancement-Scripts' target='_blank' rel='noopener'>RES</a>
                  for a better, trustworthy cooperation between humans and machines."
    imageName = "RES Logo"
    imagePath = "../assets/images/preview/cards/res_logo.png"
    link = "downloads.programs.res"
    title = "Relationship-Enhancement-Scripts"}}
</div>