/* CHANGING SELECTION COLOR */
// Firefox
::-moz-selection {
  //noinspection SassScssUnresolvedVariable
  background: $yellow;
  color: white;
}

// Chrome, Edge and Opera
::selection {
  //noinspection SassScssUnresolvedVariable
  background: $yellow;
  color: white;
}

/* REMOVING SCROLLBAR */
// Edge
body {
  -ms-overflow-style: none;
}

// Firefox
html {
  scrollbar-width: none;
}

// Chrome and Opera
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
